<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Property Id="CustomActionsFile"
              Value="1" />

    <Binary Id="VfpClientCA"
            SourceFile="..\VfpClient.CustomAction\Bin\$(var.Configuration)\VfpClient.CustomAction.CA.dll"/>

    <CustomAction Id="CA_AddMachineConfigEntry"
                  BinaryKey="VfpClientCA"
                  DllEntry="Install"
                  Execute="immediate" />

    <CustomAction Id="CA_RemoveMachineConfigEntry"
                  BinaryKey="VfpClientCA"
                  DllEntry="Uninstall"
                  Execute="immediate"  />

    <InstallExecuteSequence>
      <Custom Action="CA_AddMachineConfigEntry"
              After="InstallFiles">
        NOT Installed
      </Custom>
      <Custom Action="CA_RemoveMachineConfigEntry"
              After="InstallFiles">
        Installed
      </Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>