<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Property Id="FilesFile"
              Value="1" />

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="CMP_VfpClientDll"
                 Guid="{66DB2870-097E-486F-B3DF-B4AF2A71DD02}">
        <File Id="FILE_VfpClientDll"
              Source="Resources\net40\VfpClient.dll"
              Assembly=".net"
              KeyPath="yes" />
      </Component>

      <Directory Id="DIR_Design"
                 Name="design">
        <Component Id="CMP_VfpClientDesignDll"
                   Guid="{8729C156-3D10-47CA-A168-2E711D3CBF61}">
          <File Id="FILE_VfpClientDesignDll"
                Source="Resources\net40\VfpClient.Design.dll"
                KeyPath="yes" />
        </Component>
        <Component Id="CMP_VfpClientDll_Design"
                   Guid="{5E9251F1-91DA-48C7-830A-FBC9CDA94F76}">
          <File Id="FILE_VfpClientDll_Design"
                Source="Resources\net40\VfpClient.dll"
                KeyPath="yes" />
        </Component>
      </Directory>
      
      <Directory Id="DIR_Net35"
                 Name="net35">
        <Component Id="CMP_VfpClientDll_Net35"
                   Guid="{8510E8C6-4CF9-41C4-8B91-376DB0EC4D90}">

          <File Id="FILE_VfpClientDll_Net35"
                Source="Resources\net35\VfpClient.dll"
                KeyPath="yes" />
        </Component>
      </Directory>

      <Directory Id="DIR_Net40"
                 Name="net40">
        <Component Id="CMP_VfpClientDll_Net40"
                   Guid="{6C8B3DAD-6C6B-41B6-9F6F-50AC0D2830B8}">

          <File Id="FILE_VfpClientDll_Net40"
                Source="Resources\net40\VfpClient.dll"
                KeyPath="yes" />
        </Component>
      </Directory>

      <Directory Id="DIR_Net45"
                 Name="net45">
        <Component Id="CMP_VfpClientDll_Net45"
                   Guid="{A071DC76-EA09-4DA8-98E6-1423E2A42C81}">

          <File Id="FILE_VfpClientDll_Net45"
                Source="Resources\net45\VfpClient.dll"
                KeyPath="yes" />
        </Component>
      </Directory>
    </DirectoryRef>

    <ComponentGroup Id="CMP_VfpClientFiles">
      <ComponentRef Id="CMP_VfpClientDll"/>
      <ComponentRef Id="CMP_VfpClientDesignDll"/>
      <ComponentRef Id="CMP_VfpClientDll_Design"/>
      <ComponentRef Id="CMP_VfpClientDll_Net35"/>
      <ComponentRef Id="CMP_VfpClientDll_Net40"/>
      <ComponentRef Id="CMP_VfpClientDll_Net45"/>
    </ComponentGroup>
  </Fragment>
</Wix>