<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Property Id="LaunchConditionsFile"
             Value="1" />
    
    <PropertyRef Id="NETFRAMEWORK35" />

    <Condition Message="You must install Microsoft .NET 3.5">
      <![CDATA[Installed OR NETFRAMEWORK35]]>
    </Condition>
	</Fragment>
</Wix>