<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductName="Visual FoxPro Data Client" ?>
  <?define ProductCode="{84DD1CD6-2B49-431B-962F-8B397F71CD40}"?>
  <?define UpgradeCode="{3AE7FD67-ACB1-4FAB-81C9-116AA24B778E}"?>
  <?define Manufacturer="Tom Brothers"?>
  <?define Description="ADO.Net Data Provider for Visual FoxPro Data"?>

  <!-- Product.Id = ProductCode -->
  <!-- UpgradeCode should stay the same -->
  <Product Id="$(var.ProductCode)"
           Name="$(var.ProductName)"
           Language="1033"
           Version="!(bind.FileVersion.FILE_VfpClientDll)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200"
             Compressed="yes"
             InstallPrivileges="elevated"
             Manufacturer="$(var.Manufacturer)"
             Description="$(var.Description)" />

    <Media Id="1"
           Cabinet="media1.cab"
           EmbedCab="yes" />

    <PropertyRef Id="LaunchConditionsFile" />
    <PropertyRef Id="UIFile" />
    <PropertyRef Id="PropertiesFile" />
    <PropertyRef Id="FilesFile" />

    <Directory Id="TARGETDIR"
               Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR"
                   Name="$(var.ProductName)">
          <Merge Id="MM_VfpOleDb"
                 SourceFile="Resources\vfpoledb.msm"
                 Language="1033"
                 DiskId="1" />
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature"
             Title="$(var.Description)"
             Level="1">
      <ComponentGroupRef Id="CMP_VfpClientFiles" />
      <ComponentGroupRef Id="CMP_VfpClientRegistry" />
      <ComponentGroupRef Id="CG_MachineConfig" />
      <MergeRef Id="MM_VfpOleDb" />
    </Feature>
  </Product>
</Wix>
