<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Property Id="PropertiesFile"
              Value="1" />

    <Property Id="VFPDATASOURCE"
              Value="{710133DA-CB00-4FA2-B5D2-9A3463FEE48A}" />
    <Property Id="VFPDATAPROVIDER"
              Value="{DF6B5257-6297-4647-BEA2-613FC8957621}" />
  </Fragment>
</Wix>